<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<title>DataTables表格</title>
<link type="text/css" rel="styleSheet"  href="/css/jquery.dataTables.min.css" /><!--引进dataTables的样式 -->
<script src="/js/jquery-3.3.1.min.js"></script><!--引进jquery的最小支持 -->
<script src="/js/jquery.dataTables.min.js"></script><!--引进dataTables的js支持-->
</head>
<body>
	<table id="table_id_example" class="display"><!--填充数据的表格，用id来标识这个表格 -->
    <thead>
        <tr>
            <th>第一列</th>
            <th>第二列</th>
            <th>第三列</th>
            <th>第四列</th>          
        </tr>
    </thead>
    <tbody>      
    </tbody>
</table>
<a href="/index.html">返回主测试页面</a>
</body>
<script type="text/javascript">
$(document).ready( function () {	 
       $('#table_id_example').DataTable({//利用id来找到对应的表格，并将数据填充进去
    	language: {//语言国际化
            "url": "/json/datatables_language.json"//国际化文件的文件资源
        },
        ajax: {//利用ajax请求资源文件
            url: '/test/getTable',//请求资源的位置,加"/"表示服务器根目录，不加"/"表示当前请求页面的位置
        },
        columns: [
                  { data: 'id' },//第一列
                  { data: 'title'},//第二列                  
                  { data: 'content',//第三列
                   "className":"content",//赋予这个td的类
                   "render": function ( data, type, full, meta ) {//此方法可以对返回的json数据进行加工            
                     		 var str = data;                                  
                     		 return '加工:'+str;
                     	}
                  },
                  { data: null, //第四列
                	"render": function(data, type, full, meta){
                		 var str ="<nobr>";
                		 str += "<a class='btn table_btn btn-success btn-sm' href='javascript:void(0);' target='_blank'>"+
                         "<i class='fa fa-edit fa-fw'></i>"+
                         "编辑"+"</a> ";
                		 return str +="</nobr>";
                	}  
                  }
              ]
    });
} );
</script>
</html>