         /*导航条*/
        .navbar-static-top {
            background-color:#009688;      
            margin-bottom: 5px;
        }   
            #main-nav.nav-tabs.nav-stacked > li > a {
                padding: 10px 8px;
                font-size: 12px;
                font-weight: 600;
                color: #4A515B;             
                border: 1px solid #D5D5D5;
                border-radius: 4px;
            }

            #main-nav.nav-tabs.nav-stacked > li {
                margin-bottom: 7px;
            }

      
        /*主体内容*/
        .mainBody{    		
      		height:1000px;
      		/* border:1px solid #009688; */
      		background-color: #E5E5E5;
        }
        
         /*定义二级菜单样式*/
        .secondmenu a {
            font-size: 10px;
            color: #4A515B;
            background-color:white
          
        }
      
		/*重写bootstrap的部分样式*/		
		.nav>li>a:hover, .nav>li>a:focus{/*左侧菜单的鼠标上浮颜色*/
			background-color:#009688;
		}
		
		.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
			background-color: #009688;
		}
		
		.logo{
		 color:white;
		}
		
	/*白板*/
   .panel-body {
    position: relative;
    background: #fff;
    padding: 15px 20px;
     margin:20px;

   }
     
     /*白板表头*/
     .panel-title{
     margin-top:20px;
     position: relative;
     background: #fff;
     padding: 15px 20px;        
     }
     
     
     #content.col-md-10{
     padding-right:0px;
     padding-left:0px;
     margin-left:260px;
     }
     
     /***************************/
     .app-header {
	    position: fixed;
	    top: 0;
	    width: 100%;
      }
     .app-sidebar {
	     margin-top:60px;
	    position: fixed;
	    top: 0;
	    bottom: 0;  
	    width: 260px;
	    z-index: 10;
	}
     