<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>信息提示处理</title>
<link href="${BASE_PATH}/css/bootstrap.min.css" rel="stylesheet"><!--引进bootstrap的样式 -->
<link href="${BASE_PATH}/css/Sco/sco.message.min.css" rel="stylesheet">
<script src="${BASE_PATH}/js/jquery-3.3.1.min.js"></script><!--引进jquery的最小支持 -->
<script src="${BASE_PATH}/js/Sco/sco.message.min.js"></script><!--引进信息提示框的js支持-->
</head>
<body>
	    <h2 align="center">测试</h2>
	    <div align="center">
	    	 <a id="message_trigger_ok" href="#">成功</a>
             <a id="message_trigger_err" href="#">失败</a><br>
          	<#list testlist as info><!--freemarker -->
			<a>${info}</a> 
			</#list>
             <br>
           <a>${abc.data[0].title}</a>                  
             <br><a href="/index.html">返回主测试页面</a>
	    </div>
	    
	   
</body>
<script>
  $('#message_trigger_ok').on('click', function(e) {
    e.preventDefault();
    $.scojs_message('提供正确的提示信息', $.scojs_message.TYPE_OK);
  });
  $('#message_trigger_err').on('click', function(e) {
    e.preventDefault();
    $.scojs_message('提供错误的提示信息', $.scojs_message.TYPE_ERROR);
    });
</script>
</html>