<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
   
 <!--  <display-name>PAMS</display-name> -->
   
   <!--渲染页面-->
   <filter>  
		  <filter-name>sitemesh</filter-name>  
		  <filter-class>  
		   com.opensymphony.module.sitemesh.filter.PageFilter  
		  </filter-class>  
 	</filter>  
    <filter-mapping>  
		  <filter-name>sitemesh</filter-name>  
		  <url-pattern>/*</url-pattern>  
   </filter-mapping>  
 
    <filter>
        <filter-name>jfinal</filter-name>
        <filter-class>com.jfinal.core.JFinalFilter</filter-class>
        <init-param>
            <param-name>configClass</param-name>
            <param-value>com.DS.config.DSConfig</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>jfinal</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>  
    
    <!--配置hessian(Reply)-->
    <servlet>
	<servlet-name>check</servlet-name>
	<servlet-class>com.caucho.hessian.server.HessianServlet</servlet-class>
		<init-param>
		<param-name>service-class</param-name>
		<param-value>com.DS.Api.impl.ReplyAPI_impl</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>check</servlet-name>
		<url-pattern>/api.reply</url-pattern>
	</servlet-mapping>
   
    
    <!--quartz的任务随web的启动而启动-->
  	 <listener>     
       <listener-class>     
           com.DS.listener.QuartzInitListener
       </listener-class>     
	</listener>
	 
	<!-- jfinal配合weblogic部署的配置 -->
	<listener>
        <listener-class>com.jfinal.ext.kit.ElResolverListener</listener-class>
    </listener>
	
	<!-- jstl标签库 -->
	<jsp-config>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
			<taglib-location>/WEB-INF/tlds/c.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/xml</taglib-uri>
			<taglib-location>/WEB-INF/tlds/x.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
			<taglib-location>/WEB-INF/tlds/fmt.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/functions</taglib-uri>
			<taglib-location>/WEB-INF/tlds/fn.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/htmlRegexp</taglib-uri>
			<taglib-location>/WEB-INF/tlds/hru.tld</taglib-location>
		</taglib>
	</jsp-config>
</web-app>
