<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
    <filter>
        <filter-name>jfinal</filter-name>
        <filter-class>com.jfinal.core.JFinalFilter</filter-class>
        <init-param>
            <param-name>configClass</param-name>
            <param-value>com.DS.Config.DSConfig</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>jfinal</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--配置hessian(Reply)开始-->
    <servlet>
	<servlet-name>check</servlet-name>
	<servlet-class>com.caucho.hessian.server.HessianServlet</servlet-class>
		<init-param>
		<param-name>service-class</param-name>
		<param-value>com.DS.Api.Impl.ReplyAPI_impl</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>check</servlet-name>
		<url-pattern>/api.reply</url-pattern>
	</servlet-mapping>
    <!--配合hessian(Reply)结束-->
</web-app>
