<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>jquery动态创建表格</title>
<script src="${BASE_PATH}/js/jquery-3.3.1.min.js"></script>
<link type="text/css" rel="styleSheet"  href="${BASE_PATH}/css/bootstrap.min.css" />
<style>

td,th{
	text-align:center;
	width:140px;
	height:40px;
}
 tr td,th:first-child{
 	width:50px;
 }
</style>
</head>
<body>
	<div align="center">
		<button id="createTableBtn">生成动态表格</button>
		<div id="createTableArea"></div>
	</div>
</body>
<script src="${BASE_PATH}/js/bootstrap.min.js"></script>
<script src="${BASE_PATH}/js/DynamicTable.js"></script>
</html>