<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>管理页面</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<link type="text/css" rel="styleSheet"  href="/css/main.css" />
</head>
<body>
	<!--头部导航开始开始 -->
	<div class="navbar navbar-duomi navbar-static-top" role="navigation">
    	<div class="container-fluid">
     		<div class="navbar-header">
           	<a class="navbar-brand" href="/index.html" id="logo">数据管理系统</a>
			</div>
		</div>
    </div>
    <!--头部导航结束 -->
    
   <!--中间主体部分开始 --> 
<div class="container-fluid">
			<div class="row">
			<div class="col-md-2" id="menu">
			<!-- 左部菜单开始 -->
			<ul id="main-nav" class="nav nav-tabs nav-stacked" style="">
						<!--第一行 -->
						<li class="active">
							<a href="/index.html"><i class="glyphicon glyphicon-th-large"></i>首页 </a>
						</li>
						<!--第二行 -->
						<li>
							<a href="#to" class="nav-header collapsed" data-toggle="collapse"><i class="glyphicon glyphicon-cog"></i>系统管理<span class="pull-right glyphicon glyphicon-chevron-down"></span> </a>
							<!--第二行的子菜单 -->
							<ul id="to" class="nav nav-list collapse secondmenu" style="height: 0px;">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i>用户管理</a></li>
								<li><a href="#"><i class="glyphicon glyphicon-th-list"></i>菜单管理</a></li>
								<li><a href="#"><i class="glyphicon glyphicon-asterisk"></i>角色管理</a></li>
								<li><a href="#"><i class="glyphicon glyphicon-edit"></i>修改密码</a></li>
								<li><a href="/go/goHello"><i class="glyphicon glyphicon-eye-open"></i>日志查看</a></li>
							</ul>
					     </li>
					    <!--第三行 -->
					<li><a href="./plans.html"><i class="glyphicon glyphicon-credit-card"></i>物料管理 </a></li>
						 <!--第四行 -->
					<li><a href="./grid.html"><i class="glyphicon glyphicon-globe"></i>分发配置<span class="label label-warning pull-right">5</span></a></li>
					   <!-- 第五行 -->
					<li><a href="./charts.html"><i class="glyphicon glyphicon-calendar"></i>图表统计</a></li>
					 <!-- 第六行 -->
					<li><a href="/test/goDataTables"><i class="glyphicon glyphicon-fire"></i>测试表格</a></li>
					<li ><a href="/go/goData" class="loadData"><i class="glyphicon glyphicon-fire"></i>测试主体页面--可用</a></li>
					<li ><a href="/go/goHello"  class="loadData"><i class="glyphicon glyphicon-fire"></i>测试欢迎页面--可用</a></li>
					
			</ul>
			</div>
				<!--主体内容 -->
				<iframe  name="iframe_a" class="col-md-10" id="mainBody" src="/go/goHello">
				<!-- <div class="col-md-10" >	
					
				</div> -->
				</iframe>
	     </div>
</div> 
<!--中间主体结束 -->

<!--底部开始 -->
<div class="row">
		<div class="col-md-12" >
		       <div id="bottomBody">
		      </div>
      </div>
</div>
<!--底部结束 -->
</body>
<script src="/js/main.js"></script>
</html>